$headerText: rgb(24, 23, 23);
$whiteCol:rgb(253, 249, 249);
$headerBg: rgb(207, 201, 201);
$borderCol: rgb(180, 178, 178);
$greyCol: rgb(109, 108, 108);
$redCol:rgb(238, 17, 17);
$redDark:rgb(196, 9, 9);
$greenCol: rgb(11, 121, 16);
$greenDark: rgba(16, 100, 38, 0.884);
$blueShadow: rgba(164, 156, 241, 0.89);
$blueCol: rgb(81, 81, 241);
$blueDark: rgb(27, 19, 107);
$orangeCol: rgb(255, 165, 0);
$orangeDark: rgb(218, 133, 6);