<section class="task">
    <div class="task__card">
        <div class="task__card_img"><img width="100%" height="100%" src="../../../assets/cenzor.png" alt=""></div>
        <h1 class="task__card_name">Angular list of prohibited words</h1>
        <div class="task__card_footer">
            <button  [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active" 
            class="task__card_btn">details</button>
        </div>
    </div>

    <div class="task__card">
        <div class="task__card_img"><img width="100%" height="100%" src="../../../assets/user.png" alt=""></div>
        <h1 class="task__card_name">Angular user list</h1>
        <div class="task__card_footer">
            <button [routerLink]="[ '/works/userlist' ]" routerLinkActive="active" 
            class="task__card_btn">details</button>
        </div>
    </div>

    <div class="task__card">
        <div class="task__card_img"><img width="100%" height="100%" src="../../../assets/task.png" alt=""></div>
        <h1 class="task__card_name">Angular task list</h1>
        <div class="task__card_footer">
            <button [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" 
            class="task__card_btn">details</button>
        </div>
    </div>
</section>